<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <h3>REQUESTS STATUS !</h3><a href="/uw">Go back</a></li>
    </ol>
  </nav>
    <table class="table">
    <thead>
      <tr>
       
        <th scope="col">Name</th>
        <th scope="col">Request</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data4">
        <th scope="row">{{i.requestname}}</th>
        <td>{{i.facilitytype}}</td>
        <td>{{i.status}}</td>
      </tr>
     
    </tbody>
  </table>
</div>