<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Panchayat_emblem.svg/1200px-Panchayat_emblem.svg.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      iPanchayat | MINISTRY OF PANCHAYATI RAJ 
    </a>
    <a class="nav-link active" aria-current="page" routerLink=""><h5>Go Back</h5></a>
  </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row g-3">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img height="350px" src="assets/images/banner3.png" class="d-block w-100" alt="...">
                </div>
                 </div>
            </div>  
  </div>
  </div>
        
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" >USER LOGIN</a>
                        
        </div>
      </nav>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-10">
          <form #userlogin="ngForm" (ngSubmit)="Ulogin()" >
              <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <br>
                  <label for="" class="form label">USERNAME</label>
                  <input type="text" class="form-control" [(ngModel)]="data.name" name="name">
                  <label for="" class="form label">PASSWORD</label>
                  <input type="password" id="" class="form-control" [(ngModel)]="data.password" name="password" minlength="8" maxlength="8"><br>
                  <button  class="btn btn-danger">SIGN IN</button>
              </div>
          </form>
      </div>
  </div>
 