<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/a"><h3>About iPanchayat</h3></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
         </ul>
       </div>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
         <div class="row g-3">
           
            <img height="400px" width="350px" src="assets/images/banner2.jpg"/>
        
            <p>Over the past two decades, India’s ability to create, select, adapt, use and profit from knowledge has become increasingly important to its sustainable economic growth and improvement of living standard. The growing role of Information and Communication Technology (ICT) tools has strengthened the human intellectual capacity and the formation of modern lifestyles.

                Country like India, where 70% of the population lives in village and rural parts of the country, it becomes more necessary to utilise such tools for their social, economic, administrative and governance regeneration. Recognizing the e-Governance, the Government of India (GoI) has introduced various administrative reforms and initiated many interventions under policy level and at institutional level. However, the government has been able to connect urban-centric regions of the country, but still this left with a major national-gap as far as using ICT for the nation building is concerned. Effective and viable usage of ICT tools at panchayat , which represents the first level of government interaction for over 60% of the Indian populace, is largely missing.
                
                As per official figures, there are approximately 2,50,000 Panchayats in India mapped by the National Informatics Centre and Ministry of Panchayati Raj on the ministry website under the project called e-Panchayat. However, it is difficult to find any information about single panchayat.
                
                With this background, the National Internet Exchange of India (NIXI) and the Digital Empowerment Foundation (DEF) initiated and rolled forward the concept of ‘Digital Panchayat (DP)’ programme across the nation. Digital Panchayat means – a web-based dynamic digital interface created for each and every Panchayat in India, giving information about particular panchayat in a two-way flow of content. The objective is to facilitate and improve Panchayat functioning on day-to-day basis, through two way flow of information and content.
                
                The digital platform aims to bring out the local voices by empowering the local communities to showcase and share local social, cultural and economic practices, stories and challenges. Moreover, the web-platform would act as a repository of local content for national and global audience and vice versa with a bottom-up content thrust. Additionally, the portal would act as a multipurpose information and communication platform to showcase local content, culture, best practices, advocate local issues, e-Commerce to the Panchayat Villages. Digital Panchayat is a platform for panchayat representatives to connect with rest of the world.
                
                12
                Digital Panchayat is a functional and dynamic digital platform and working station designed and created for each and every Panchayat in India, powered by Internet. The objective is to facilitate and improve Panchayat functioning on day-to-day basis, through two way flow of information and content. The goal is to realise various development objectives at grassroots level. Digital Panchayat programme is a national initiative of Digital Empowerment Foundation and National Internet Exchange of India ( Dept of IT, Govt. of India)
                
                Why Digital Panchayat:
                
                13To empower citizens of every panchayat with  bottom up and top down information and content;
                To improve development and governance public service delivery at Panchayat level through information on policy programmes and implementation;
                Create a  digital data house at every Panchayat level ;
                To facilitate growth of Panchayat economy through promotion of Panchayat tourism, e-commerce of local produce;
                To put every Panchayat on the global digital map;
                To generate an ICT environment in every panchayat;
                To give fillip to the Right to Information campaign.
                Digital Panchayat Component:
                
                A comprehensive and dynamic local language content online platform.
                Integrated digital platform for panchayat demography, society, culture, geography, history & economy.
                A bilingual or multilingual information platform.
                e-trade and e-commerce platform.
                Online public grievance redressal forum.
                Local online resource center.
                Online communication and information networking platform.
                An e-Governance platform.
                A digital data storehouse.
                Digital Panchayat Activities
                
                10Develop a comprehensive Panchayat Digital Platform.
                Develop a comprehensive Panchayat Digital Platform.
                To train Panchayat representatives in IT skills & management of Panchayat platform.
                Generation of Panchayat content.
                Regular updation and maintenance of Panchayat content .</p>
                </div>
    </div>
  </div>
 </div> 